name: pypi

# Controls when the workflow will run
on:
    push:
        branches:
            - main
        tags:
            - 'publish'

jobs:
    publish:

        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:

            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            -   uses: actions/checkout@v3

            -   name: Set up Python 3.10
                uses: actions/setup-python@v4
                with:
                    python-version: "3.10"
                    cache: pip

            -   name: To PyPI using Flit
                uses: AsifArmanRahman/to-pypi-using-flit@v1
                with:
                    password: ${{ secrets.PYPI_API_TOKEN }}